$background-color: #ddd;
$font-color: #000;

.debug-panel {
    position: absolute;
    top: 0;
    left: 0;
    color: $font-color;
    padding: 16px;
    width: 100%;
    opacity: 0.5;
    background-color: $background-color;
}