$color-gold: #A6924D;

.stakeholder-title {
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.column-name {
    color: $color-gold;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}