$color-gold: #A6924D;

#title {
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
}

#code {
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    color: $color-gold;
}