$color-dark-gray: #707070;

#title {
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
}

.player-name {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.5em;
}

.player-status {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 0.75em;
    text-align: right;
}

.player-name-placeholder {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.5em;
    color: $color-dark-gray;
}