.page-container {
    grid-row-start: 1;
    grid-row-end: -1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.page-body {
    grid-column-start: 2;
    grid-column-end: 2;
    align-self: center;
}