// Placeholder card style
.card {
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    color: black;
    text-align: center;
    padding: 16px;
}

.instruction-text {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.card-type-text {
    color: gray;
    padding-bottom: 10px;
}