/* DEBUG */
* {
  /* border: 1px solid green; */
  background-color: rgb(100, 106, 115);
  color: gold;
}

/* Flex shit */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-item {
  flex: 1;
}

/* LobbyComponent */
.lobby-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* PlayerListComponent */
.player-list-container {
  width: 75%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
/* PlayerCardComponent */
.player-card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-direction: row;
}

.player-card-item {
  flex: 1;
  height: 100%;
}